
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.card{
display: inline-block;
/* margin-left: 32px; */
/* margin-top: 10px; */
margin: 15px;
flex-flow: column wrap;
align-items: center;
align-content: center;
background: linear-gradient(to right, red , yellow); 
border: 2px rgb(175, 211, 16) solid;
padding: 3px;
text-align: center;
border-bottom-left-radius: 20%;

}
.random{

border-top-right-radius: 30%;
}


.card:hover{

transition-timing-function: ease-in-out ;
background: rgb(11, 138, 197);
transform: skew(2deg,5deg);
transition: all 2s;
}

.box{
display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;
margin-left: auto;
background :linear-gradient(to right, rgb(207, 204, 32) , rgb(197, 87, 120)); 
color: rgb(241, 255, 47);


}
.search{

background-color: rgb(230, 247, 241); 
padding: .3rem;
border: 2px rgb(102, 255, 0) solid;
margin-bottom: 10px;

}
